body { 
    background-color: #EDB7AA;
}

header {
    display: block;
    text-align: center;
    font-size: 50px;
    padding-bottom: 50px;
}

img.align-center {
    display: block;
    margin-left: 27%;    
}

#chinook {
    margin-left: 38%;
    padding-bottom: 30px;
}

header img.align-center {
    margin-left: 40%;  
}

ul {
    text-align: center;
    font-size: 20px;
    color: #307058;
}

form {
    padding: 20px;
    margin-left: 20%;
}

table {
    text-align: center;
    display: inline-block;
    color: #D2E0DB;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin-left: 25%;
    background: gray;
}

td {
    padding: 10px;
    border: black;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px;
    margin: 0px;
    font-size: 60px;
    color: aquamarine;
    height: 60px;
}

div div{
    padding: 30px;
    margin-left: 10%;
}

div div img{
    padding: 20px;
}

a {
    padding: 20px;
    font-size: 20px;
    color: cadetblue;
}

li img {
    padding: 20px;
}

form{
    color: #307058;
    padding: 10px;
}

div p {
    text-align: center;
    padding: 25px;
    font-size: 30px;
    color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

button{
    background-color: aquamarine;
    width: 50px;
    height: 30px;
    margin-left: 35%;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
};

#footer {
    padding: 20px;
}